@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --ramos-red: #FE4A23;
  --ramos-yellow: #FFD027;
  --ramos-black: #0D0D0D;
  
  --ramos-gray: #F0F0F0;
  --ramos-gray-light: #252522;

  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
    font-family: var(--font-urbanist);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
